<!doctype html>
<html>
    <head>
        <script src="https://npmcdn.com/zone.js@0.8.17/dist/zone.js"></script>
        <script src="https://npmcdn.com/core-js/client/shim.min.js"></script>
        <script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
        <script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
        <script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
        <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
        <script src="https://surveyjs.azureedge.net/0.98.5/survey.angular.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/app.css">
    </head>

    <body>

            <header class="container-fluid">
                <h1>Survey part 3</h1>
            </header>

            <div class="container-fluid">
                <div class="row">
                    
                    <section class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-12 text-center">
                                <ng-app></ng-app>
                            </div>
                            <script type="text/javascript" src="../scripts/survey3.js"></script>
        
                        </div>
                        
                    </section>


                </div>
            </div>
                <footer class="container-fluid">
                </footer>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    </body>
</html>
